<client-details *ngIf="selectedClient" [client]="selectedClient"></client-details>
<div class="card border-primary mb-3">
  <div class="card-header">Clients</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Client List</h5>
    <div class="my-2 text-left">
      <button
        *ngIf="authService.hasRole('ROLE_ADMIN')"
        class="btn btn-primary btn-rounded" type="button" [routerLink]="['/clients/form']">Create client
      </button>
    </div>
    <div *ngIf="clients?.length ==0" class="alert alert-info">
      No records please create new clients.
    </div>
    <table class="table table-bordered table-striped" *ngIf="clients?.length>0">
      <thead>
      <tr>
        <th  *ngIf="authService.hasRole('ROLE_USER')">id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Create Day</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Edit</th>
        <th *ngIf="authService.hasRole('ROLE_ADMIN')">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let client of clients">
        <td *ngIf="authService.hasRole('ROLE_USER')">
          <img *ngIf="client?.photo" (click)="openModal(client)"
               src="http://localhost:8080/api/uploads/img/{{client.photo}}"
               class="img-thumbnail" style="width: 64px;cursor: pointer">
          <img *ngIf="!client?.photo" (click)="openModal(client)"
               src="http://localhost:8080/images/no_user.png"
               class="img-thumbnail" style="width: 64px;cursor: pointer">
        </td>
        <td>{{client.firstName}}</td>
        <td>{{client.lastName}}</td>
        <td>{{client.id}}</td>
        <td>{{client.createAt}}</td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" class="btn btn-primary" name="edit" [routerLink]="['/clients/form', client.id]">Edit
          </button>
        </td>
        <td *ngIf="authService.hasRole('ROLE_ADMIN')">
          <button type="button" class="btn btn-danger" name="delete" (click)="delete(client)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <app-paginator *ngIf="pagination" [pagination]="pagination"></app-paginator>
  </div>
</div>
